@import "vars";

#stats {
  @include basicSettings($darkBlue, 20%);
  text-align: center;

  #wrapper {
    @include center;
    list-style: none;
    padding: 0;

    .stat {
      font-size: 25px;
      color: $white;

      .statVal {
        font-weight: bold;
      }
    }
  }

  button {
    @include center;
    width: 100%;
    color: $white;
    background-color: $darkBlue;
    border: none;
    padding: 20px;
    font-size: 15px;
    outline: none;
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: $darkerBlue;
      cursor: pointer;
    }
  }
}